
/*Google Fonte*/
@import url('https://fonts.googleapis.com/css2?family=Playwrite+NZ+Basic:wght@100..400&display=swap'); /*Titulos*/
@import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&display=swap'); /*Paragrafos*/


/*Restart*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*Estilo Globol*/
/*Paletas de Cores --> https://coolors.co/palette/01161e-124559-598392-aec3b0-eff6e0*/
:root{
    --cor-principal: #124559;
    --cor-escura: #01161E;
    --cor-clara: #EFF6E0;
    --cor-segundaria: #598392;
    --cor--terciaria: #AEC3B0
}
h1, h2, h3{
     font-family: "Playwrite NZ Basic", cursive;
     font-weight: bold;
     letter-spacing: 6px;
}

p{
    font-family: "Google Sans", sans-serif; 
}


/*cabeçalho*/
.main-header{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 150px;
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: var(--cor-escura);
    color: var(--cor-clara);
}
.logo h1{
    font-size: 25px;
    cursor: pointer;
    padding: 10px;
}
.logo h1:hover{
    color: var(--cor-segundaria);
    text-decoration: underline;
}
.nav-links{
    display: flex;
    gap: 20px;
    list-style: none;
    text-decoration: none;
}
.nav-links a{
     padding-top: 10px;
    text-decoration: none;
    color: var(--cor-clara);
}
.nav-links a:hover{
    color: var(--cor-segundaria);
    text-decoration: underline;
}

/*Àrea do hero*/
.hero{
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url(../img/bck-hore.jpg);
    opacity: 0.8;
    color: var(--cor-clara);
}
.hero-content a{
    width: 100px;
    height: 100px;
    font-size: 18px;
    color: var(--cor-clara);
    border: 1px solid var(--cor-clara);
    border-radius: 10px;
    padding: 10px 15px;   
}
.hero-content a:hover{
    border: none;
    font-size: 20px;
}
.hero-content  p{
    padding-bottom: 30px;

}


/*Área Sobre*/
.content-about{
    display: flex;
    flex-wrap: wrap;/*Permirte quebra a linha*/
    gap: 40px;
    align-items: center;
}
.content-text .about-img{
    flex: 1;
    min-width: 300px;
}
/*Área dos posts*/
.post-grid{
    display: grid;
    /* Cria colunas que se ajustam sozinhas entre 250px e 1 fração do espaço */
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1.5rem;
    padding: 2rem;
}

.post-card{
    background-color: var(--cor-segundaria);
    text-align: center;
    padding: 20px;
    border-radius: 8px;
    border: 1px solid #000;
}
.post-card h3{
    font-size: 25px;
}
.post-card:hover{
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}